<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rquest.riskmaster.mapper.PortfolioInstrumentSnapshotMapper" >
  <resultMap id="BaseResultMap" type="com.rquest.riskmaster.entity.PortfolioInstrumentSnapshot" >
    <id column="dt_market" property="dtMarket" jdbcType="DATE" />
    <id column="id_portfolio" property="idPortfolio" jdbcType="VARCHAR" />
    <id column="id_instrument" property="idInstrument" jdbcType="VARCHAR" />
    <result column="pct_ratio" property="pctRatio" jdbcType="REAL" />
    <result column="amt_holdings" property="amtHoldings" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    dt_market, id_portfolio, id_instrument, pct_ratio, amt_holdings
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from portfolio_instrument_snapshots
    where dt_market = #{dtMarket,jdbcType=DATE}
      and id_portfolio = #{idPortfolio,jdbcType=VARCHAR}
      and id_instrument = #{idInstrument,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from portfolio_instrument_snapshots
    where dt_market = #{dtMarket,jdbcType=DATE}
      and id_portfolio = #{idPortfolio,jdbcType=VARCHAR}
      and id_instrument = #{idInstrument,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rquest.riskmaster.entity.PortfolioInstrumentSnapshot" >
    insert into portfolio_instrument_snapshots (dt_market, id_portfolio, id_instrument, 
      pct_ratio, amt_holdings)
    values (#{dtMarket,jdbcType=DATE}, #{idPortfolio,jdbcType=VARCHAR}, #{idInstrument,jdbcType=VARCHAR}, 
      #{pctRatio,jdbcType=REAL}, #{amtHoldings,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.rquest.riskmaster.entity.PortfolioInstrumentSnapshot" >
    insert into portfolio_instrument_snapshots
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dtMarket != null" >
        dt_market,
      </if>
      <if test="idPortfolio != null" >
        id_portfolio,
      </if>
      <if test="idInstrument != null" >
        id_instrument,
      </if>
      <if test="pctRatio != null" >
        pct_ratio,
      </if>
      <if test="amtHoldings != null" >
        amt_holdings,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dtMarket != null" >
        #{dtMarket,jdbcType=DATE},
      </if>
      <if test="idPortfolio != null" >
        #{idPortfolio,jdbcType=VARCHAR},
      </if>
      <if test="idInstrument != null" >
        #{idInstrument,jdbcType=VARCHAR},
      </if>
      <if test="pctRatio != null" >
        #{pctRatio,jdbcType=REAL},
      </if>
      <if test="amtHoldings != null" >
        #{amtHoldings,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rquest.riskmaster.entity.PortfolioInstrumentSnapshot" >
    update portfolio_instrument_snapshots
    <set >
      <if test="pctRatio != null" >
        pct_ratio = #{pctRatio,jdbcType=REAL},
      </if>
      <if test="amtHoldings != null" >
        amt_holdings = #{amtHoldings,jdbcType=DECIMAL},
      </if>
    </set>
    where dt_market = #{dtMarket,jdbcType=DATE}
      and id_portfolio = #{idPortfolio,jdbcType=VARCHAR}
      and id_instrument = #{idInstrument,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rquest.riskmaster.entity.PortfolioInstrumentSnapshot" >
    update portfolio_instrument_snapshots
    set pct_ratio = #{pctRatio,jdbcType=REAL},
      amt_holdings = #{amtHoldings,jdbcType=DECIMAL}
    where dt_market = #{dtMarket,jdbcType=DATE}
      and id_portfolio = #{idPortfolio,jdbcType=VARCHAR}
      and id_instrument = #{idInstrument,jdbcType=VARCHAR}
  </update>
</mapper>