<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
                http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
                http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- C3P0数据源 -->
	<!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" -->
	<!-- p:driverClass="com.mysql.jdbc.Driver" -->
	<!-- p:jdbcUrl="jdbc:mysql://localhost:3306/dooriya" -->
	<!-- p:user="root" -->
	<!-- p:password="123456"/> -->
	<!-- 属性文件读入 -->
<!--     <context:property-placeholder location="classpath:jdbc/dev.properties"/> -->
<!-- 属性文件读入 -->
<!--     <context:property-placeholder location="classpath:properties/jdbc/dev.properties"/> -->
    <!-- 引入配置文件 -->
<!--     <bean id="propertyConfigurer" -->
<!--         class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
<!--         <property name="location" value="classpath:properties/jdbc/dev.properties" /> -->
<!--     </bean> -->
	<!-- website 数据源配置,使用c3p0数据库连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<!-- C3p0 Pool Info -->
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	<!--定义了Hibernate的SessionFactory -->
	<!-- <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"> -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<!-- org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean -->

		<property name="dataSource" ref="dataSource" />

		<!-- hibernate配置 -->
		<!-- <property name="annotatedClasses"> -->
		<property name="packagesToScan">
			<!-- -->
			<list>
				<value>com.ocean.frame.main.entity</value>
			</list>
		</property>

		<property name="mappingDirectoryLocations">
			<!-- <property name="mappingResources"> -->
			<list>
				<!-- <value>classpath:com/ocean/main/entity</value> -->
				<!-- 自动装载hbm -->
				<value>classpath:mapping/</value>
				<!-- <value>classpath:com/saye/systemset/depart/model</value> -->
			</list>
		</property>

		<!-- <property name="mappingResources"> -->
		<!-- <value>classpath:com/ocean/main/entity/MenuRole</value> -->
		<!-- </property> -->
		<property name="hibernateProperties">
			<props>
				<!-- <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop> -->
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>

				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop>
				<!-- <prop key="hibernate.query.substitutions">true 1, false 0</prop> -->
				<prop key="show_sql">true</prop>
				<!-- <prop key="hibernate.connection.release_mode">after_transaction</prop> -->
				<!-- <prop key="hibernate.connection.release_mode">after_statement</prop> -->
				<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto" >update</prop> -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
			</props>
		</property>

	</bean>

	<!-- <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" 
		p:dataSource-ref="dataSource" > -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />

		<!-- <property name=" transactionAttributes "> -->
		<!-- <props> -->
		<!-- <prop key=" save* "> PROPAGATION_REQUIRED </prop> -->
		<!-- <prop key=" update* "> PROPAGATION_REQUIRED </prop> -->
		<!-- <prop key=" delete* "> PROPAGATION_REQUIRED </prop> -->
		<!-- <prop key=" find* "> PROPAGATION_REQUIRED </prop> -->
		<!-- <prop key=" get* "> PROPAGATION_REQUIRED </prop> -->
		<!-- <prop key=" execute* "> PROPAGATION_REQUIRED </prop> -->
		<!-- <prop key=" load* "> PROPAGATION_REQUIRED </prop> -->
		<!-- <prop key=" merge* "> PROPAGATION_REQUIRED </prop> -->
		<!-- <prop key=" add* "> PROPAGATION_REQUIRED </prop> -->
		<!-- </props> -->
		<!-- </property> -->
	</bean>



	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- <bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor"> -->
	<!-- 事务拦截器bean需要依赖注入一个事务管理器 -->
	<!-- <property name="transactionManager" ref="transactionManager"/> -->
	<!-- <property name="transactionAttributes"> -->
	<!-- 下面定义事务传播属性 -->
	<!-- <props> -->
	<!-- <prop key="*">PROPAGATION_REQUIRED,-Exception</prop> -->
	<!-- <prop key="execP_*">PROPAGATION_NOT_SUPPORTED</prop> 调用存储过程用，非事务方式操作 -->
	<!-- </props> -->
	<!-- </property> -->
	<!-- </bean> -->

</beans>