#Html("begin")
#Head("begin")
#LoadGUI("default")
#LoadGUI("upload")
#LoadJS("xx/customer_info")
#Head("end")
<script>
    var tests = function(){
    
    alert(alert);
    $("#form1").form(){
        
        
    }
}
</script>
</script>
<body onload="CustomerApp.init()">
    #Hidden("APP_ROOT_PATH", "$!env.getWebURL('')")
    #Hidden("ID","$!customer.id")
    #Hidden("jobTypeParentId","$!jobTypeParentId")
    #Hidden("customerFocusParentId","$!customerFocusParentId")
    #Hidden("livingConditionId","$!livingConditionId")
    #Hidden("industryUnderstandingLevelId","$!industryUnderstandingLevelId")

    <div class="easyui-layout easy-body">
        <form id="customerForm" name="customerForm" method="post">
            <input id="id" name="id" type="text" class="" data-options="" value="$!customer.id" style="display: none"/>
            <table width="100%" cellspacing="1" class="table_ges_building">
                <tr>
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">姓名：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF">
                        #if("$!customer.id"=="")
                            <input style="height:30px;" id="name" name="name" type="text" data-options="required:true,validType:{length:[0,20]}" class="input_ges_b easyui-textbox" />
                        #else
                            <input style="height:30px;" id="name" name="name" type="text"  class="input_ges_b easyui-textbox" value="$!customer.name"/>
                        #end
                    </td>
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">电话：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF" >
                        #if("$!customer.id"=="")
                            <input id="phone" name="phone" style="height:30px;" type="text" validType="phone" class="input_ges_b easyui-textbox" data-options="required:true" />
                        #else
                            <input id="phone" name="phone" style="height:30px;"type="text" validType="phone"  class="input_ges_b easyui-textbox"  value="$!customer.phone"/>
                        #end
                    </td>
                
                
                    <td align="right" valign="top" bgcolor="#efefef" width="150px">性别：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF" >
                        #if("$!customer.id"=="")
                            <select id="gender" name="gender" style="width:150px;height:30px;" data-options="required:true">
                                <option value="" >请选择</option>
                                <option value="male" >男</option>
                                <option value="female" >女</option>
                            </select>
                        #else
                            <select id="gender" name="gender" style="width:150px;height:30px;" >
                                <option value="" #if("$!customer.gender"=="") selected  #end>请选择</option>
                                <option value="male" #if("$!customer.gender"=="male") selected  #end>男</option>
                                <option value="female" #if("$!customer.gender"=="female") selected  #end>女</option>
                            </select>                       
                        #end
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" bgcolor="#efefef" width="150px">邮箱：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF" >
                        #if("$!customer.id"=="")
                            <input id="email" name="email" style="height:30px;" type="text"  class="input_ges_b easyui-textbox" data-options="validType:{length:[0,40]}" />
                        #else
                            <input id="email" name="email" style="height:30px;" type="text"  class="input_ges_b easyui-textbox"  value="$!customer.email"/>
                        #end
                    </td>
                    <td align="right" valign="top" bgcolor="#efefef" width="150px">年龄：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF" >
                        #if("$!customer.id"=="")
                            <input id="age" name="age" style="height:30px;" type="text"  class="input_ges_b easyui-textbox" data-options="required:true,validType:{length:[0,20]}" />
                        #else
                            <input id="age" name="age" style="height:30px;" type="text"  class="input_ges_b easyui-textbox"  value="$!customer.age"/>
                        #end
                    </td>
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">楼盘：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF">
                        <input id="building_id" value="$!customer.building.id" style="display: none;"/>
                        <input id="building"  name="building.id"  class="input_ges_b easyui-combobox" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">详细地址：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF">
                        #if("$!customer.id"=="")
                            <input id="address" name="address" style="height:30px;" type="text"  class="input_ges_b easyui-textbox" data-options="required:true,validType:{length:[0,20]}" />
                        #else
                            <input id="address" name="address" style="height:30px;"type="text"  class="input_ges_b easyui-textbox"  value="$!customer.address"/>
                        #end
                    </td>
                
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">职业类型：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF">
                            #if("$!customer.dictionaryJob.id"=="")
                                <select id="jobType" name="dictionaryJob.id" style="width:150px;height:30px;" data-options="required:true"> </select>
                            #else
                                <input id="job_type_id" value="$!customer.dictionaryJob.id" style="display: none;"/>
                                <select id="jobType" name="dictionaryJob.id" style="width:150px;height:30px;"></select>
                            #end
                    </td>
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">期望造价：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF">
                        #if("$!customer.id"=="")
                            <input id="idealPrice" name="idealPrice" style="height:30px;" type="text" validType="number" class="input_ges_b easyui-textbox" data-options="required:true" /> 
                        #else
                            <input id="idealPrice" name="idealPrice" style="height:30px;"type="text"  class="input_ges_b easyui-textbox"  value="$!customer.idealPrice"/>
                        #end
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">客户关注：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF">
                        #if("$!customer.dictionaryFocus.id"=="")
                            <select id="customerFocus" name="dictionaryFocus.id" style="width:150px;height: 30px;"> </select>
                        #else
                            <input id="dictionary_focus_id" value="$!customer.dictionaryFocus.id" style="display: none;"/>
                            <select id="customerFocus" name="dictionaryFocus.id" style="height: 30px;width:150px" data-options="disabled:true"> </select>
                        #end
                    </td>
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">行业了解度：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF">
                        #if("$!customer.dictionaryUnderstandingLevel.id"=="")
                            <select id="industryUnderstandingLevel" name="dictionaryUnderstandingLevel.id" style="width:150px;height: 30px;" data-options="required:true"> </select>
                        #else
                            <input id="dictionary_understanding_level_id" value="$!customer.dictionaryUnderstandingLevel.id" style="display: none;"/>
                            <select id="industryUnderstandingLevel" name="dictionaryUnderstandingLevel.id" style="width:150px;height: 30px;" > </select>
                        #end
                    </td>
                
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">预计装修日期：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF">
                        #if("$!customer.id"=="")
                            <input style="height:30px;" name="expectedDecorationDate" id="expectedDecorationDate" type="text" class="input_ges_b easyui-datebox" data-options="required:true"/>
                        #else
                            <input style="height:30px;" name="expectedDecorationDate" id="expectedDecorationDate" type="text" class="input_ges_b easyui-datebox" data-options="required:true"/>
                            <input type="hidden" id="hid_expectedDecorationDate" value="$date.format($!customer.expectedDecorationDate)" />
                        #end
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">居住情况：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF">
                        #if("$!customer.dictionayLiving.id"=="")
                            <select id="livingCondition" name="dictionayLiving.id" style="width:150px;height: 30px;" data-options="required:true"> </select>
                        #else
                            <input id="dictionay_living_id" value="$!customer.dictionayLiving.id" style="display: none;"/>
                            <select id="livingCondition" name="dictionayLiving.id" style="width:150px;height: 30px;" data-options="disabled:true"> </select>
                        #end
                    </td>
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">期望装修风格：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF" >
                        #if("$!customer.id"=="")
                            <input id="expectedDecorationStyle" name="expectedDecorationStyle" style="height: 30px;" type="text"      class="input_ges_b easyui-textbox"  data-options="required:true,validType:{length:[0,20]}"/>
                        #else
                            <input id="expectedDecorationStyle" name="expectedDecorationStyle" style="height: 30px;" type="text"     class="input_ges_b easyui-textbox"   value="$!customer.expectedDecorationStyle"/>
                        #end
                    </td>
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">城运商：</td>
                     <td align="left" valign="top" bgcolor="#FFFFFF">
                        <input id="operator_id" value="$!customer.shop.operator.id" style="display: none;"/>
                        <select id="operator" name="shop.operator.id" class="easyui-combobox" style="width:150px;height: 30px;"></select>
                     </td>  
                </tr>
                <tr>
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">4s店：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF" colspan="3">
                        <input id="shop_id" value="$!customer.shop.id" style="display: none;"/>
                        <select id="shop" name="shop.id" class="easyui-combobox" style="width:150px;height: 30px;"></select>
                    </td>
                    <td align="right" valign="top" bgcolor="#efefef" width="100px">备注：</td>
                    <td align="left" valign="top" bgcolor="#FFFFFF"  colspan="7">
                        #if("$!customer.id"=="")
                            <input id="remark" name="remark" type="text"   class="input_ges_b easyui-textbox"   style="width: 100%;height: 30px;" />
                        #else
                            <input id="remark" name="remark" type="text"   class="input_ges_b easyui-textbox"   style="width: 100%;height: 30px;" value="$!customer.remark"/>
                        #end                   
                    </td>                   
                </tr>
            </table>
        </form>
        #if("$!customer.id"!="")
            <div style="height:290px;width:100%; overflow:scroll;">
                <p style="line-height:30px;">日志列表：</p>
                <table id="customerGrid" fit="false"></table>
            </div>
        #else
            <div style="height:190px;width:100%; overflow:scroll;">
                <p style="line-height:30px;">填写日志：</p>
            <form id="customerQuestion" name="customerQuestion" method="post">
                <table width="100%" cellspacing="1" class="table_ges_building">
                <td align="right" valign="top" bgcolor="#efefef" width="100px">日志内容：</td>
                <td align="left" valign="top" bgcolor="#FFFFFF">
                    <input class="easyui-textbox" style="width: 500px;height: 80px;" type="text" name="content" id="content"
                           data-options="validType:{length:[0,400]},multiline:true" value=""/>
                </td>
                </table>
            </form>
            </div>
        #end
        <div class="window_btn_bar">
            <div class="btn">
                    <input type="button" value="保存" class="ges_table_okmenu" style="margin-right:5px;" onclick="CustomerApp.save()"/>
                    <input type="button" value="取消" class="ges_table_nomenu" onclick="CustomerApp.close()"/>
            </div>
        </div>
    </div>

</body>
#Html("end")