<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gdzy.shop.dao.user.wemall_feedbacktypeMapper" >
    <cache/>
  <resultMap id="BaseResultMap" type="gdzy.shop.pojo.user.wemall_feedbacktype" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fname" property="fname" jdbcType="VARCHAR" />
    <result column="ftype" property="ftype" jdbcType="INTEGER" />
    <result column="fdescribe" property="fdescribe" jdbcType="VARCHAR" />
    <result column="fctime" property="fctime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fname, ftype, fdescribe, fctime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wemall_feedbacktype
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="getFeedbackTypes" resultMap="BaseResultMap">
      select id, fname, ftype, fdescribe,fctime from wemall_feedbacktype 
  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wemall_feedbacktype
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="gdzy.shop.pojo.user.wemall_feedbacktype" >
    insert into wemall_feedbacktype (id, fname, ftype, 
      fdescribe, fctime)
    values (#{id,jdbcType=INTEGER}, #{fname,jdbcType=VARCHAR}, #{ftype,jdbcType=INTEGER}, 
      #{fdescribe,jdbcType=VARCHAR}, #{fctime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="gdzy.shop.pojo.user.wemall_feedbacktype" >
    insert into wemall_feedbacktype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fname != null" >
        fname,
      </if>
      <if test="ftype != null" >
        ftype,
      </if>
      <if test="fdescribe != null" >
        fdescribe,
      </if>
      <if test="fctime != null" >
        fctime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fname != null" >
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="ftype != null" >
        #{ftype,jdbcType=INTEGER},
      </if>
      <if test="fdescribe != null" >
        #{fdescribe,jdbcType=VARCHAR},
      </if>
      <if test="fctime != null" >
        #{fctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="gdzy.shop.pojo.user.wemall_feedbacktype" >
    update wemall_feedbacktype
    <set >
      <if test="fname != null" >
        fname = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="ftype != null" >
        ftype = #{ftype,jdbcType=INTEGER},
      </if>
      <if test="fdescribe != null" >
        fdescribe = #{fdescribe,jdbcType=VARCHAR},
      </if>
      <if test="fctime != null" >
        fctime = #{fctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="gdzy.shop.pojo.user.wemall_feedbacktype" >
    update wemall_feedbacktype
    set fname = #{fname,jdbcType=VARCHAR},
      ftype = #{ftype,jdbcType=INTEGER},
      fdescribe = #{fdescribe,jdbcType=VARCHAR},
      fctime = #{fctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>