<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocean.stock.dao.NoteMapper">
  <resultMap id="BaseResultMap" type="com.ocean.stock.entity.Note">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="invest_type" jdbcType="CHAR" property="investType" />
    <result column="invest_term" jdbcType="TIMESTAMP" property="investTerm" />
    <result column="income_rate_arg" jdbcType="REAL" property="incomeRateArg" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="priced" jdbcType="REAL" property="priced" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, openid, title, stock_code, invest_type, invest_term, income_rate_arg, remark, 
    priced, create_time, update_time, status, invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_note
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_note
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ocean.stock.entity.Note">
    insert into t_stock_note (id, openid, title, 
      stock_code, invest_type, invest_term, 
      income_rate_arg, remark, priced, 
      create_time, update_time, status, 
      invalid)
    values (#{id,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{stockCode,jdbcType=VARCHAR}, #{investType,jdbcType=CHAR}, #{investTerm,jdbcType=TIMESTAMP}, 
      #{incomeRateArg,jdbcType=REAL}, #{remark,jdbcType=VARCHAR}, #{priced,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, 
      #{invalid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.ocean.stock.entity.Note">
    insert into t_stock_note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="investType != null">
        invest_type,
      </if>
      <if test="investTerm != null">
        invest_term,
      </if>
      <if test="incomeRateArg != null">
        income_rate_arg,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="priced != null">
        priced,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        #{investType,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        #{investTerm,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeRateArg != null">
        #{incomeRateArg,jdbcType=REAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priced != null">
        #{priced,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ocean.stock.entity.Note">
    update t_stock_note
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        invest_type = #{investType,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        invest_term = #{investTerm,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeRateArg != null">
        income_rate_arg = #{incomeRateArg,jdbcType=REAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priced != null">
        priced = #{priced,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ocean.stock.entity.Note">
    update t_stock_note
    set openid = #{openid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      stock_code = #{stockCode,jdbcType=VARCHAR},
      invest_type = #{investType,jdbcType=CHAR},
      invest_term = #{investTerm,jdbcType=TIMESTAMP},
      income_rate_arg = #{incomeRateArg,jdbcType=REAL},
      remark = #{remark,jdbcType=VARCHAR},
      priced = #{priced,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.ocean.stock.entity.Note">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="invest_type" jdbcType="CHAR" property="investType" />
    <result column="invest_term" jdbcType="TIMESTAMP" property="investTerm" />
    <result column="income_rate_arg" jdbcType="REAL" property="incomeRateArg" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="priced" jdbcType="REAL" property="priced" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, openid, title, stock_code, invest_type, invest_term, income_rate_arg, remark, 
    priced, create_time, update_time, status, invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_note
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_note
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ocean.stock.entity.Note">
    insert into t_stock_note (id, openid, title, 
      stock_code, invest_type, invest_term, 
      income_rate_arg, remark, priced, 
      create_time, update_time, status, 
      invalid)
    values (#{id,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{stockCode,jdbcType=VARCHAR}, #{investType,jdbcType=CHAR}, #{investTerm,jdbcType=TIMESTAMP}, 
      #{incomeRateArg,jdbcType=REAL}, #{remark,jdbcType=VARCHAR}, #{priced,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, 
      #{invalid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.ocean.stock.entity.Note">
    insert into t_stock_note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="investType != null">
        invest_type,
      </if>
      <if test="investTerm != null">
        invest_term,
      </if>
      <if test="incomeRateArg != null">
        income_rate_arg,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="priced != null">
        priced,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        #{investType,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        #{investTerm,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeRateArg != null">
        #{incomeRateArg,jdbcType=REAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priced != null">
        #{priced,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ocean.stock.entity.Note">
    update t_stock_note
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        invest_type = #{investType,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        invest_term = #{investTerm,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeRateArg != null">
        income_rate_arg = #{incomeRateArg,jdbcType=REAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priced != null">
        priced = #{priced,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ocean.stock.entity.Note">
    update t_stock_note
    set openid = #{openid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      stock_code = #{stockCode,jdbcType=VARCHAR},
      invest_type = #{investType,jdbcType=CHAR},
      invest_term = #{investTerm,jdbcType=TIMESTAMP},
      income_rate_arg = #{incomeRateArg,jdbcType=REAL},
      remark = #{remark,jdbcType=VARCHAR},
      priced = #{priced,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.ocean.stock.entity.Note">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="invest_type" jdbcType="CHAR" property="investType" />
    <result column="invest_term" jdbcType="TIMESTAMP" property="investTerm" />
    <result column="income_rate_arg" jdbcType="REAL" property="incomeRateArg" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="priced" jdbcType="REAL" property="priced" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, openid, title, stock_code, invest_type, invest_term, income_rate_arg, remark, 
    priced, create_time, update_time, status, invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_note
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_note
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ocean.stock.entity.Note">
    insert into t_stock_note (id, openid, title, 
      stock_code, invest_type, invest_term, 
      income_rate_arg, remark, priced, 
      create_time, update_time, status, 
      invalid)
    values (#{id,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{stockCode,jdbcType=VARCHAR}, #{investType,jdbcType=CHAR}, #{investTerm,jdbcType=TIMESTAMP}, 
      #{incomeRateArg,jdbcType=REAL}, #{remark,jdbcType=VARCHAR}, #{priced,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, 
      #{invalid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.ocean.stock.entity.Note">
    insert into t_stock_note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="investType != null">
        invest_type,
      </if>
      <if test="investTerm != null">
        invest_term,
      </if>
      <if test="incomeRateArg != null">
        income_rate_arg,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="priced != null">
        priced,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        #{investType,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        #{investTerm,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeRateArg != null">
        #{incomeRateArg,jdbcType=REAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priced != null">
        #{priced,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ocean.stock.entity.Note">
    update t_stock_note
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        invest_type = #{investType,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        invest_term = #{investTerm,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeRateArg != null">
        income_rate_arg = #{incomeRateArg,jdbcType=REAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priced != null">
        priced = #{priced,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ocean.stock.entity.Note">
    update t_stock_note
    set openid = #{openid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      stock_code = #{stockCode,jdbcType=VARCHAR},
      invest_type = #{investType,jdbcType=CHAR},
      invest_term = #{investTerm,jdbcType=TIMESTAMP},
      income_rate_arg = #{incomeRateArg,jdbcType=REAL},
      remark = #{remark,jdbcType=VARCHAR},
      priced = #{priced,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.ocean.stock.entity.Note">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="invest_type" jdbcType="CHAR" property="investType" />
    <result column="invest_term" jdbcType="TIMESTAMP" property="investTerm" />
    <result column="income_rate_arg" jdbcType="REAL" property="incomeRateArg" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="priced" jdbcType="REAL" property="priced" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, openid, title, stock_code, invest_type, invest_term, income_rate_arg, remark, 
    priced, create_time, update_time, status, invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_note
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_note
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ocean.stock.entity.Note">
    insert into t_stock_note (id, openid, title, 
      stock_code, invest_type, invest_term, 
      income_rate_arg, remark, priced, 
      create_time, update_time, status, 
      invalid)
    values (#{id,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{stockCode,jdbcType=VARCHAR}, #{investType,jdbcType=CHAR}, #{investTerm,jdbcType=TIMESTAMP}, 
      #{incomeRateArg,jdbcType=REAL}, #{remark,jdbcType=VARCHAR}, #{priced,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, 
      #{invalid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.ocean.stock.entity.Note">
    insert into t_stock_note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="investType != null">
        invest_type,
      </if>
      <if test="investTerm != null">
        invest_term,
      </if>
      <if test="incomeRateArg != null">
        income_rate_arg,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="priced != null">
        priced,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        #{investType,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        #{investTerm,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeRateArg != null">
        #{incomeRateArg,jdbcType=REAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priced != null">
        #{priced,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ocean.stock.entity.Note">
    update t_stock_note
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        invest_type = #{investType,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        invest_term = #{investTerm,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeRateArg != null">
        income_rate_arg = #{incomeRateArg,jdbcType=REAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priced != null">
        priced = #{priced,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ocean.stock.entity.Note">
    update t_stock_note
    set openid = #{openid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      stock_code = #{stockCode,jdbcType=VARCHAR},
      invest_type = #{investType,jdbcType=CHAR},
      invest_term = #{investTerm,jdbcType=TIMESTAMP},
      income_rate_arg = #{incomeRateArg,jdbcType=REAL},
      remark = #{remark,jdbcType=VARCHAR},
      priced = #{priced,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.ocean.stock.entity.Note">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="invest_type" jdbcType="CHAR" property="investType" />
    <result column="invest_term" jdbcType="TIMESTAMP" property="investTerm" />
    <result column="income_rate_arg" jdbcType="REAL" property="incomeRateArg" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="priced" jdbcType="REAL" property="priced" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, openid, title, stock_code, invest_type, invest_term, income_rate_arg, remark, 
    priced, create_time, update_time, status, invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_note
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_note
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ocean.stock.entity.Note">
    insert into t_stock_note (id, openid, title, 
      stock_code, invest_type, invest_term, 
      income_rate_arg, remark, priced, 
      create_time, update_time, status, 
      invalid)
    values (#{id,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{stockCode,jdbcType=VARCHAR}, #{investType,jdbcType=CHAR}, #{investTerm,jdbcType=TIMESTAMP}, 
      #{incomeRateArg,jdbcType=REAL}, #{remark,jdbcType=VARCHAR}, #{priced,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, 
      #{invalid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.ocean.stock.entity.Note">
    insert into t_stock_note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="investType != null">
        invest_type,
      </if>
      <if test="investTerm != null">
        invest_term,
      </if>
      <if test="incomeRateArg != null">
        income_rate_arg,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="priced != null">
        priced,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        #{investType,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        #{investTerm,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeRateArg != null">
        #{incomeRateArg,jdbcType=REAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priced != null">
        #{priced,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ocean.stock.entity.Note">
    update t_stock_note
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        invest_type = #{investType,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        invest_term = #{investTerm,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeRateArg != null">
        income_rate_arg = #{incomeRateArg,jdbcType=REAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priced != null">
        priced = #{priced,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ocean.stock.entity.Note">
    update t_stock_note
    set openid = #{openid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      stock_code = #{stockCode,jdbcType=VARCHAR},
      invest_type = #{investType,jdbcType=CHAR},
      invest_term = #{investTerm,jdbcType=TIMESTAMP},
      income_rate_arg = #{incomeRateArg,jdbcType=REAL},
      remark = #{remark,jdbcType=VARCHAR},
      priced = #{priced,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.ocean.stock.entity.Note">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="invest_type" jdbcType="CHAR" property="investType" />
    <result column="invest_term" jdbcType="TIMESTAMP" property="investTerm" />
    <result column="income_rate_arg" jdbcType="REAL" property="incomeRateArg" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="priced" jdbcType="REAL" property="priced" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, openid, title, stock_code, invest_type, invest_term, income_rate_arg, remark, 
    priced, create_time, update_time, status, invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_note
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_note
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ocean.stock.entity.Note">
    insert into t_stock_note (id, openid, title, 
      stock_code, invest_type, invest_term, 
      income_rate_arg, remark, priced, 
      create_time, update_time, status, 
      invalid)
    values (#{id,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{stockCode,jdbcType=VARCHAR}, #{investType,jdbcType=CHAR}, #{investTerm,jdbcType=TIMESTAMP}, 
      #{incomeRateArg,jdbcType=REAL}, #{remark,jdbcType=VARCHAR}, #{priced,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, 
      #{invalid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.ocean.stock.entity.Note">
    insert into t_stock_note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="investType != null">
        invest_type,
      </if>
      <if test="investTerm != null">
        invest_term,
      </if>
      <if test="incomeRateArg != null">
        income_rate_arg,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="priced != null">
        priced,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        #{investType,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        #{investTerm,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeRateArg != null">
        #{incomeRateArg,jdbcType=REAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priced != null">
        #{priced,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ocean.stock.entity.Note">
    update t_stock_note
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        invest_type = #{investType,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        invest_term = #{investTerm,jdbcType=TIMESTAMP},
      </if>
      <if test="incomeRateArg != null">
        income_rate_arg = #{incomeRateArg,jdbcType=REAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priced != null">
        priced = #{priced,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ocean.stock.entity.Note">
    update t_stock_note
    set openid = #{openid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      stock_code = #{stockCode,jdbcType=VARCHAR},
      invest_type = #{investType,jdbcType=CHAR},
      invest_term = #{investTerm,jdbcType=TIMESTAMP},
      income_rate_arg = #{incomeRateArg,jdbcType=REAL},
      remark = #{remark,jdbcType=VARCHAR},
      priced = #{priced,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>