<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luvsea.stock.dao.PricedRegMapper">
  <resultMap id="BaseResultMap" type="com.luvsea.stock.entity.PricedReg">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="integral_start" jdbcType="INTEGER" property="integralStart" />
    <result column="integral_end" jdbcType="INTEGER" property="integralEnd" />
    <result column="money" jdbcType="REAL" property="money" />
    <result column="ratio_earn" jdbcType="REAL" property="ratioEarn" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, integral_start, integral_end, money, ratio_earn, create_time, update_time, status, 
    invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_priced_reg
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_priced_reg
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luvsea.stock.entity.PricedReg">
    insert into t_stock_priced_reg (id, integral_start, integral_end, 
      money, ratio_earn, create_time, 
      update_time, status, invalid
      )
    values (#{id,jdbcType=BIGINT}, #{integralStart,jdbcType=INTEGER}, #{integralEnd,jdbcType=INTEGER}, 
      #{money,jdbcType=REAL}, #{ratioEarn,jdbcType=REAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, #{invalid,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luvsea.stock.entity.PricedReg">
    insert into t_stock_priced_reg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="integralStart != null">
        integral_start,
      </if>
      <if test="integralEnd != null">
        integral_end,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="ratioEarn != null">
        ratio_earn,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="integralStart != null">
        #{integralStart,jdbcType=INTEGER},
      </if>
      <if test="integralEnd != null">
        #{integralEnd,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=REAL},
      </if>
      <if test="ratioEarn != null">
        #{ratioEarn,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luvsea.stock.entity.PricedReg">
    update t_stock_priced_reg
    <set>
      <if test="integralStart != null">
        integral_start = #{integralStart,jdbcType=INTEGER},
      </if>
      <if test="integralEnd != null">
        integral_end = #{integralEnd,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=REAL},
      </if>
      <if test="ratioEarn != null">
        ratio_earn = #{ratioEarn,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luvsea.stock.entity.PricedReg">
    update t_stock_priced_reg
    set integral_start = #{integralStart,jdbcType=INTEGER},
      integral_end = #{integralEnd,jdbcType=INTEGER},
      money = #{money,jdbcType=REAL},
      ratio_earn = #{ratioEarn,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.luvsea.stock.entity.PricedReg">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="integral_start" jdbcType="INTEGER" property="integralStart" />
    <result column="integral_end" jdbcType="INTEGER" property="integralEnd" />
    <result column="money" jdbcType="REAL" property="money" />
    <result column="ratio_earn" jdbcType="REAL" property="ratioEarn" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, integral_start, integral_end, money, ratio_earn, create_time, update_time, status, 
    invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_priced_reg
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_priced_reg
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luvsea.stock.entity.PricedReg">
    insert into t_stock_priced_reg (id, integral_start, integral_end, 
      money, ratio_earn, create_time, 
      update_time, status, invalid
      )
    values (#{id,jdbcType=BIGINT}, #{integralStart,jdbcType=INTEGER}, #{integralEnd,jdbcType=INTEGER}, 
      #{money,jdbcType=REAL}, #{ratioEarn,jdbcType=REAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, #{invalid,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luvsea.stock.entity.PricedReg">
    insert into t_stock_priced_reg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="integralStart != null">
        integral_start,
      </if>
      <if test="integralEnd != null">
        integral_end,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="ratioEarn != null">
        ratio_earn,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="integralStart != null">
        #{integralStart,jdbcType=INTEGER},
      </if>
      <if test="integralEnd != null">
        #{integralEnd,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=REAL},
      </if>
      <if test="ratioEarn != null">
        #{ratioEarn,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luvsea.stock.entity.PricedReg">
    update t_stock_priced_reg
    <set>
      <if test="integralStart != null">
        integral_start = #{integralStart,jdbcType=INTEGER},
      </if>
      <if test="integralEnd != null">
        integral_end = #{integralEnd,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=REAL},
      </if>
      <if test="ratioEarn != null">
        ratio_earn = #{ratioEarn,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luvsea.stock.entity.PricedReg">
    update t_stock_priced_reg
    set integral_start = #{integralStart,jdbcType=INTEGER},
      integral_end = #{integralEnd,jdbcType=INTEGER},
      money = #{money,jdbcType=REAL},
      ratio_earn = #{ratioEarn,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.luvsea.stock.entity.PricedReg">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="integral_start" jdbcType="INTEGER" property="integralStart" />
    <result column="integral_end" jdbcType="INTEGER" property="integralEnd" />
    <result column="money" jdbcType="REAL" property="money" />
    <result column="ratio_earn" jdbcType="REAL" property="ratioEarn" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, integral_start, integral_end, money, ratio_earn, create_time, update_time, status, 
    invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_priced_reg
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_priced_reg
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luvsea.stock.entity.PricedReg">
    insert into t_stock_priced_reg (id, integral_start, integral_end, 
      money, ratio_earn, create_time, 
      update_time, status, invalid
      )
    values (#{id,jdbcType=BIGINT}, #{integralStart,jdbcType=INTEGER}, #{integralEnd,jdbcType=INTEGER}, 
      #{money,jdbcType=REAL}, #{ratioEarn,jdbcType=REAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, #{invalid,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luvsea.stock.entity.PricedReg">
    insert into t_stock_priced_reg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="integralStart != null">
        integral_start,
      </if>
      <if test="integralEnd != null">
        integral_end,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="ratioEarn != null">
        ratio_earn,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="integralStart != null">
        #{integralStart,jdbcType=INTEGER},
      </if>
      <if test="integralEnd != null">
        #{integralEnd,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=REAL},
      </if>
      <if test="ratioEarn != null">
        #{ratioEarn,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luvsea.stock.entity.PricedReg">
    update t_stock_priced_reg
    <set>
      <if test="integralStart != null">
        integral_start = #{integralStart,jdbcType=INTEGER},
      </if>
      <if test="integralEnd != null">
        integral_end = #{integralEnd,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=REAL},
      </if>
      <if test="ratioEarn != null">
        ratio_earn = #{ratioEarn,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luvsea.stock.entity.PricedReg">
    update t_stock_priced_reg
    set integral_start = #{integralStart,jdbcType=INTEGER},
      integral_end = #{integralEnd,jdbcType=INTEGER},
      money = #{money,jdbcType=REAL},
      ratio_earn = #{ratioEarn,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.luvsea.stock.entity.PricedReg">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="integral_start" jdbcType="INTEGER" property="integralStart" />
    <result column="integral_end" jdbcType="INTEGER" property="integralEnd" />
    <result column="money" jdbcType="REAL" property="money" />
    <result column="ratio_earn" jdbcType="REAL" property="ratioEarn" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, integral_start, integral_end, money, ratio_earn, create_time, update_time, status, 
    invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_priced_reg
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_priced_reg
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luvsea.stock.entity.PricedReg">
    insert into t_stock_priced_reg (id, integral_start, integral_end, 
      money, ratio_earn, create_time, 
      update_time, status, invalid
      )
    values (#{id,jdbcType=BIGINT}, #{integralStart,jdbcType=INTEGER}, #{integralEnd,jdbcType=INTEGER}, 
      #{money,jdbcType=REAL}, #{ratioEarn,jdbcType=REAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, #{invalid,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luvsea.stock.entity.PricedReg">
    insert into t_stock_priced_reg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="integralStart != null">
        integral_start,
      </if>
      <if test="integralEnd != null">
        integral_end,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="ratioEarn != null">
        ratio_earn,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="integralStart != null">
        #{integralStart,jdbcType=INTEGER},
      </if>
      <if test="integralEnd != null">
        #{integralEnd,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=REAL},
      </if>
      <if test="ratioEarn != null">
        #{ratioEarn,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luvsea.stock.entity.PricedReg">
    update t_stock_priced_reg
    <set>
      <if test="integralStart != null">
        integral_start = #{integralStart,jdbcType=INTEGER},
      </if>
      <if test="integralEnd != null">
        integral_end = #{integralEnd,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=REAL},
      </if>
      <if test="ratioEarn != null">
        ratio_earn = #{ratioEarn,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luvsea.stock.entity.PricedReg">
    update t_stock_priced_reg
    set integral_start = #{integralStart,jdbcType=INTEGER},
      integral_end = #{integralEnd,jdbcType=INTEGER},
      money = #{money,jdbcType=REAL},
      ratio_earn = #{ratioEarn,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.luvsea.stock.entity.PricedReg">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="integral_start" jdbcType="INTEGER" property="integralStart" />
    <result column="integral_end" jdbcType="INTEGER" property="integralEnd" />
    <result column="money" jdbcType="REAL" property="money" />
    <result column="ratio_earn" jdbcType="REAL" property="ratioEarn" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, integral_start, integral_end, money, ratio_earn, create_time, update_time, status, 
    invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_priced_reg
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_priced_reg
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luvsea.stock.entity.PricedReg">
    insert into t_stock_priced_reg (id, integral_start, integral_end, 
      money, ratio_earn, create_time, 
      update_time, status, invalid
      )
    values (#{id,jdbcType=BIGINT}, #{integralStart,jdbcType=INTEGER}, #{integralEnd,jdbcType=INTEGER}, 
      #{money,jdbcType=REAL}, #{ratioEarn,jdbcType=REAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, #{invalid,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luvsea.stock.entity.PricedReg">
    insert into t_stock_priced_reg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="integralStart != null">
        integral_start,
      </if>
      <if test="integralEnd != null">
        integral_end,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="ratioEarn != null">
        ratio_earn,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="integralStart != null">
        #{integralStart,jdbcType=INTEGER},
      </if>
      <if test="integralEnd != null">
        #{integralEnd,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=REAL},
      </if>
      <if test="ratioEarn != null">
        #{ratioEarn,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luvsea.stock.entity.PricedReg">
    update t_stock_priced_reg
    <set>
      <if test="integralStart != null">
        integral_start = #{integralStart,jdbcType=INTEGER},
      </if>
      <if test="integralEnd != null">
        integral_end = #{integralEnd,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=REAL},
      </if>
      <if test="ratioEarn != null">
        ratio_earn = #{ratioEarn,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luvsea.stock.entity.PricedReg">
    update t_stock_priced_reg
    set integral_start = #{integralStart,jdbcType=INTEGER},
      integral_end = #{integralEnd,jdbcType=INTEGER},
      money = #{money,jdbcType=REAL},
      ratio_earn = #{ratioEarn,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.luvsea.stock.entity.PricedReg">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="integral_start" jdbcType="INTEGER" property="integralStart" />
    <result column="integral_end" jdbcType="INTEGER" property="integralEnd" />
    <result column="money" jdbcType="REAL" property="money" />
    <result column="ratio_earn" jdbcType="REAL" property="ratioEarn" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, integral_start, integral_end, money, ratio_earn, create_time, update_time, status, 
    invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_priced_reg
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_priced_reg
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luvsea.stock.entity.PricedReg">
    insert into t_stock_priced_reg (id, integral_start, integral_end, 
      money, ratio_earn, create_time, 
      update_time, status, invalid
      )
    values (#{id,jdbcType=BIGINT}, #{integralStart,jdbcType=INTEGER}, #{integralEnd,jdbcType=INTEGER}, 
      #{money,jdbcType=REAL}, #{ratioEarn,jdbcType=REAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, #{invalid,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luvsea.stock.entity.PricedReg">
    insert into t_stock_priced_reg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="integralStart != null">
        integral_start,
      </if>
      <if test="integralEnd != null">
        integral_end,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="ratioEarn != null">
        ratio_earn,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="integralStart != null">
        #{integralStart,jdbcType=INTEGER},
      </if>
      <if test="integralEnd != null">
        #{integralEnd,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=REAL},
      </if>
      <if test="ratioEarn != null">
        #{ratioEarn,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luvsea.stock.entity.PricedReg">
    update t_stock_priced_reg
    <set>
      <if test="integralStart != null">
        integral_start = #{integralStart,jdbcType=INTEGER},
      </if>
      <if test="integralEnd != null">
        integral_end = #{integralEnd,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=REAL},
      </if>
      <if test="ratioEarn != null">
        ratio_earn = #{ratioEarn,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luvsea.stock.entity.PricedReg">
    update t_stock_priced_reg
    set integral_start = #{integralStart,jdbcType=INTEGER},
      integral_end = #{integralEnd,jdbcType=INTEGER},
      money = #{money,jdbcType=REAL},
      ratio_earn = #{ratioEarn,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>