<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luvsea.stock.dao.SpreadDetailMapper">
  <resultMap id="BaseResultMap" type="com.luvsea.stock.entity.SpreadDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spread_user" jdbcType="BIGINT" property="spreadUser" />
    <result column="spreaded_user" jdbcType="BIGINT" property="spreadedUser" />
    <result column="source_url" jdbcType="VARCHAR" property="sourceUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, spread_user, spreaded_user, source_url, create_time, update_time, status, invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_spread_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_spread_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luvsea.stock.entity.SpreadDetail">
    insert into t_stock_spread_detail (id, spread_user, spreaded_user, 
      source_url, create_time, update_time, 
      status, invalid)
    values (#{id,jdbcType=BIGINT}, #{spreadUser,jdbcType=BIGINT}, #{spreadedUser,jdbcType=BIGINT}, 
      #{sourceUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT}, #{invalid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.luvsea.stock.entity.SpreadDetail">
    insert into t_stock_spread_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="spreadUser != null">
        spread_user,
      </if>
      <if test="spreadedUser != null">
        spreaded_user,
      </if>
      <if test="sourceUrl != null">
        source_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="spreadUser != null">
        #{spreadUser,jdbcType=BIGINT},
      </if>
      <if test="spreadedUser != null">
        #{spreadedUser,jdbcType=BIGINT},
      </if>
      <if test="sourceUrl != null">
        #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luvsea.stock.entity.SpreadDetail">
    update t_stock_spread_detail
    <set>
      <if test="spreadUser != null">
        spread_user = #{spreadUser,jdbcType=BIGINT},
      </if>
      <if test="spreadedUser != null">
        spreaded_user = #{spreadedUser,jdbcType=BIGINT},
      </if>
      <if test="sourceUrl != null">
        source_url = #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luvsea.stock.entity.SpreadDetail">
    update t_stock_spread_detail
    set spread_user = #{spreadUser,jdbcType=BIGINT},
      spreaded_user = #{spreadedUser,jdbcType=BIGINT},
      source_url = #{sourceUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.luvsea.stock.entity.SpreadDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spread_user" jdbcType="BIGINT" property="spreadUser" />
    <result column="spreaded_user" jdbcType="BIGINT" property="spreadedUser" />
    <result column="source_url" jdbcType="VARCHAR" property="sourceUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, spread_user, spreaded_user, source_url, create_time, update_time, status, invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_spread_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_spread_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luvsea.stock.entity.SpreadDetail">
    insert into t_stock_spread_detail (id, spread_user, spreaded_user, 
      source_url, create_time, update_time, 
      status, invalid)
    values (#{id,jdbcType=BIGINT}, #{spreadUser,jdbcType=BIGINT}, #{spreadedUser,jdbcType=BIGINT}, 
      #{sourceUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT}, #{invalid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.luvsea.stock.entity.SpreadDetail">
    insert into t_stock_spread_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="spreadUser != null">
        spread_user,
      </if>
      <if test="spreadedUser != null">
        spreaded_user,
      </if>
      <if test="sourceUrl != null">
        source_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="spreadUser != null">
        #{spreadUser,jdbcType=BIGINT},
      </if>
      <if test="spreadedUser != null">
        #{spreadedUser,jdbcType=BIGINT},
      </if>
      <if test="sourceUrl != null">
        #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luvsea.stock.entity.SpreadDetail">
    update t_stock_spread_detail
    <set>
      <if test="spreadUser != null">
        spread_user = #{spreadUser,jdbcType=BIGINT},
      </if>
      <if test="spreadedUser != null">
        spreaded_user = #{spreadedUser,jdbcType=BIGINT},
      </if>
      <if test="sourceUrl != null">
        source_url = #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luvsea.stock.entity.SpreadDetail">
    update t_stock_spread_detail
    set spread_user = #{spreadUser,jdbcType=BIGINT},
      spreaded_user = #{spreadedUser,jdbcType=BIGINT},
      source_url = #{sourceUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.luvsea.stock.entity.SpreadDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spread_user" jdbcType="BIGINT" property="spreadUser" />
    <result column="spreaded_user" jdbcType="BIGINT" property="spreadedUser" />
    <result column="source_url" jdbcType="VARCHAR" property="sourceUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, spread_user, spreaded_user, source_url, create_time, update_time, status, invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_spread_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_spread_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luvsea.stock.entity.SpreadDetail">
    insert into t_stock_spread_detail (id, spread_user, spreaded_user, 
      source_url, create_time, update_time, 
      status, invalid)
    values (#{id,jdbcType=BIGINT}, #{spreadUser,jdbcType=BIGINT}, #{spreadedUser,jdbcType=BIGINT}, 
      #{sourceUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT}, #{invalid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.luvsea.stock.entity.SpreadDetail">
    insert into t_stock_spread_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="spreadUser != null">
        spread_user,
      </if>
      <if test="spreadedUser != null">
        spreaded_user,
      </if>
      <if test="sourceUrl != null">
        source_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="spreadUser != null">
        #{spreadUser,jdbcType=BIGINT},
      </if>
      <if test="spreadedUser != null">
        #{spreadedUser,jdbcType=BIGINT},
      </if>
      <if test="sourceUrl != null">
        #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luvsea.stock.entity.SpreadDetail">
    update t_stock_spread_detail
    <set>
      <if test="spreadUser != null">
        spread_user = #{spreadUser,jdbcType=BIGINT},
      </if>
      <if test="spreadedUser != null">
        spreaded_user = #{spreadedUser,jdbcType=BIGINT},
      </if>
      <if test="sourceUrl != null">
        source_url = #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luvsea.stock.entity.SpreadDetail">
    update t_stock_spread_detail
    set spread_user = #{spreadUser,jdbcType=BIGINT},
      spreaded_user = #{spreadedUser,jdbcType=BIGINT},
      source_url = #{sourceUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.luvsea.stock.entity.SpreadDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spread_user" jdbcType="BIGINT" property="spreadUser" />
    <result column="spreaded_user" jdbcType="BIGINT" property="spreadedUser" />
    <result column="source_url" jdbcType="VARCHAR" property="sourceUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, spread_user, spreaded_user, source_url, create_time, update_time, status, invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_spread_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_spread_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luvsea.stock.entity.SpreadDetail">
    insert into t_stock_spread_detail (id, spread_user, spreaded_user, 
      source_url, create_time, update_time, 
      status, invalid)
    values (#{id,jdbcType=BIGINT}, #{spreadUser,jdbcType=BIGINT}, #{spreadedUser,jdbcType=BIGINT}, 
      #{sourceUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT}, #{invalid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.luvsea.stock.entity.SpreadDetail">
    insert into t_stock_spread_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="spreadUser != null">
        spread_user,
      </if>
      <if test="spreadedUser != null">
        spreaded_user,
      </if>
      <if test="sourceUrl != null">
        source_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="spreadUser != null">
        #{spreadUser,jdbcType=BIGINT},
      </if>
      <if test="spreadedUser != null">
        #{spreadedUser,jdbcType=BIGINT},
      </if>
      <if test="sourceUrl != null">
        #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luvsea.stock.entity.SpreadDetail">
    update t_stock_spread_detail
    <set>
      <if test="spreadUser != null">
        spread_user = #{spreadUser,jdbcType=BIGINT},
      </if>
      <if test="spreadedUser != null">
        spreaded_user = #{spreadedUser,jdbcType=BIGINT},
      </if>
      <if test="sourceUrl != null">
        source_url = #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luvsea.stock.entity.SpreadDetail">
    update t_stock_spread_detail
    set spread_user = #{spreadUser,jdbcType=BIGINT},
      spreaded_user = #{spreadedUser,jdbcType=BIGINT},
      source_url = #{sourceUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.luvsea.stock.entity.SpreadDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spread_user" jdbcType="BIGINT" property="spreadUser" />
    <result column="spreaded_user" jdbcType="BIGINT" property="spreadedUser" />
    <result column="source_url" jdbcType="VARCHAR" property="sourceUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, spread_user, spreaded_user, source_url, create_time, update_time, status, invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_spread_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_spread_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luvsea.stock.entity.SpreadDetail">
    insert into t_stock_spread_detail (id, spread_user, spreaded_user, 
      source_url, create_time, update_time, 
      status, invalid)
    values (#{id,jdbcType=BIGINT}, #{spreadUser,jdbcType=BIGINT}, #{spreadedUser,jdbcType=BIGINT}, 
      #{sourceUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT}, #{invalid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.luvsea.stock.entity.SpreadDetail">
    insert into t_stock_spread_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="spreadUser != null">
        spread_user,
      </if>
      <if test="spreadedUser != null">
        spreaded_user,
      </if>
      <if test="sourceUrl != null">
        source_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="spreadUser != null">
        #{spreadUser,jdbcType=BIGINT},
      </if>
      <if test="spreadedUser != null">
        #{spreadedUser,jdbcType=BIGINT},
      </if>
      <if test="sourceUrl != null">
        #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luvsea.stock.entity.SpreadDetail">
    update t_stock_spread_detail
    <set>
      <if test="spreadUser != null">
        spread_user = #{spreadUser,jdbcType=BIGINT},
      </if>
      <if test="spreadedUser != null">
        spreaded_user = #{spreadedUser,jdbcType=BIGINT},
      </if>
      <if test="sourceUrl != null">
        source_url = #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luvsea.stock.entity.SpreadDetail">
    update t_stock_spread_detail
    set spread_user = #{spreadUser,jdbcType=BIGINT},
      spreaded_user = #{spreadedUser,jdbcType=BIGINT},
      source_url = #{sourceUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.luvsea.stock.entity.SpreadDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spread_user" jdbcType="BIGINT" property="spreadUser" />
    <result column="spreaded_user" jdbcType="BIGINT" property="spreadedUser" />
    <result column="source_url" jdbcType="VARCHAR" property="sourceUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="invalid" jdbcType="BIT" property="invalid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, spread_user, spreaded_user, source_url, create_time, update_time, status, invalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock_spread_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock_spread_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luvsea.stock.entity.SpreadDetail">
    insert into t_stock_spread_detail (id, spread_user, spreaded_user, 
      source_url, create_time, update_time, 
      status, invalid)
    values (#{id,jdbcType=BIGINT}, #{spreadUser,jdbcType=BIGINT}, #{spreadedUser,jdbcType=BIGINT}, 
      #{sourceUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT}, #{invalid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.luvsea.stock.entity.SpreadDetail">
    insert into t_stock_spread_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="spreadUser != null">
        spread_user,
      </if>
      <if test="spreadedUser != null">
        spreaded_user,
      </if>
      <if test="sourceUrl != null">
        source_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="spreadUser != null">
        #{spreadUser,jdbcType=BIGINT},
      </if>
      <if test="spreadedUser != null">
        #{spreadedUser,jdbcType=BIGINT},
      </if>
      <if test="sourceUrl != null">
        #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luvsea.stock.entity.SpreadDetail">
    update t_stock_spread_detail
    <set>
      <if test="spreadUser != null">
        spread_user = #{spreadUser,jdbcType=BIGINT},
      </if>
      <if test="spreadedUser != null">
        spreaded_user = #{spreadedUser,jdbcType=BIGINT},
      </if>
      <if test="sourceUrl != null">
        source_url = #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luvsea.stock.entity.SpreadDetail">
    update t_stock_spread_detail
    set spread_user = #{spreadUser,jdbcType=BIGINT},
      spreaded_user = #{spreadedUser,jdbcType=BIGINT},
      source_url = #{sourceUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      invalid = #{invalid,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>