<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd    
                            http://www.springframework.org/schema/context    
                            http://www.springframework.org/schema/context/spring-context-3.2.xsd    
                            http://www.springframework.org/schema/tx 
                            http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
                            http://www.springframework.org/schema/mvc    
                            http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd ">

	<mvc:annotation-driven />

	<!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
	<context:component-scan base-package="com.youchang.*" />
	<context:component-scan base-package="gdzy.shop.*" />
	<!-- 事务管理器，分为接口代理，非接口代理，切面代理 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!--避免IE执行AJAX时，返回JSON出现下载文件 -->
	<bean id="mappingJackson2HttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
				<value>text/json;charset=UTF-8</value>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<!-- 启动SpringMVC的注解功能，完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJackson2HttpMessageConverter" /> <!-- JSON转换器 -->
			</list>
		</property>
	</bean>
	<!-- 定义跳转的文件的前后缀 ，视图模式配置 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 这里的配置我的理解是自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 配置文件上传，如果没有使用文件上传可以不用配置，当然如果不配，那么配置文件中也不必引入上传组件包 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 默认编码 -->
		<property name="defaultEncoding" value="utf-8" />
		<!-- 文件大小最大值 -->
		<property name="maxUploadSize" value="10485760000" />
		<!-- 内存中的最大值 -->
		<property name="maxInMemorySize" value="40960" />
	</bean>
	<!-- 静态资源访问 -->
	<mvc:default-servlet-handler />

	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<!-- 登录 -->
			<mvc:exclude-mapping path="/userwx/authWithHTML" />
			<mvc:exclude-mapping path="/userwx/authHTML" />
			<!-- 商户注册认证的时候需要扫码经历重定向从新授权 ，但是如果其它地址，一律只走authWithHTML -->
			<mvc:exclude-mapping path="/userwx/authWithMerchant" />
			<mvc:exclude-mapping path="/userwx/authBackWithMerchant" />
			<!-- 扫码获积分 -->
			<mvc:exclude-mapping path="/userwx/authWithPointByQRCode" />
			<!--公众号菜单跳转 -->
			<mvc:exclude-mapping path="/app" />
			<mvc:exclude-mapping path="/scan" />
			<mvc:exclude-mapping path="/guaguaka/scan/" />
			<mvc:exclude-mapping path="/personalcenter" />
			<mvc:exclude-mapping path="/clscollect/test" />
			<!-- 活动专用 -->
			<mvc:exclude-mapping path="/userwx/authWithActivity" />
			<mvc:exclude-mapping path="/activity/toSurvey" />
			<!-- 测试用 -->
			<mvc:exclude-mapping path="/mall/test" />

			<bean class="gdzy.shop.common.interceptor.ApiInterceptor">
				<property name="allowUrls">
					<list>
						<!-- 如果请求中包含以下路径，则不进行拦截 -->
						<value>/login</value>
						<value>/js</value>
						<value>/css</value>
						<value>/image</value>
						<value>/images</value>
						<value>MP_verify_ziVjCVLwHqhGYTc5.txt</value>
						<value>http://shuangxi.gdzysx.com/index.php/Home/Auth</value>
						<!-- 临时用 -->
						<value>/activity</value>
						<value>http://shuangxi.gdzysx.com/index.php/Home/Auth</value>
						<!-- <value>/region</value> -->
						<!-- <value>/vocation</value> -->
						<!-- test -->
						<value>/baidu</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
		<!-- session interceptor -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="gdzy.shop.common.interceptor.SessionInterceptor">
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>  