#Html("begin")
<body>
    <p>
        this is velocity model;
    </p>
    #if(true)
        <lable>
            this is lable;
        </lable>
        #else
            <span >
                this is span;
            </span>
</body>
